<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Index</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li>
			<a th:href="@{/pathVariables/string/} +'un texto en path variable'">/pathVariables/string/texto en path variable</a>
		</li>
		<li>
			<a th:href="@{/pathVariables/string/} +'un texto en path variable' + '/' + 7">/pathVariables/string/texto en path variable/7</a>
		</li>
	</ul>
</body>
</html>