<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<title>Nueva pelicula</title>
</head>
<body>
<div class="container">
	<h1>Agregar una nueva Pelicula</h1>
	<form th:action="@{/peliculas/actualizar-pelicula-post}"  method="post">
	   <div class="form-group">
	    <label for="IdPelicula">Id de la pelicula</label>
	    <input type="number" name="idPelicula" class="form-control"  placeholder="ingresar id" >
	  </div>
	  <div class="form-group">
	    <label for="nombrePelicula">Nombre de la Pelicula</label>
	    <input type="text" name="nombrePelicula" class="form-control"  placeholder="ingresar nombre" >
	  </div>
	  <div class="form-group">
	    <label for="generoPelicula">Genero de la Pelicula</label>
	    <input type="text" name="generoPelicula" class="form-control"  placeholder="ingresar genero" >
	  </div>
	  <div class="form-group">
	    <label for="directorPelicula">Director de la Pelicula</label>
	    <input type="text" name="directorPelicula" class="form-control" placeholder="ingrese director" >
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
</body>
</html>