<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${tituloBodyListado}"></title>
</head>
<body>
	<h1 th:text="${tituloBodyListado}"></h1>
	<!-- primero probar con la lista vacia -->
	<!-- alternativa a listaUsuarios.size() == 0 es listadoUsuarios.isEmpty() -->
	<div th:if = "${listaUsuarios.size() == 0}"> No hay usuarios para listar</div>
	<!-- luego probar con una lista no vacia -->
	<table th:if = "${not listaUsuarios.isEmpty()}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${listaUsuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apelliido}"></td>
				<td th:text="${usuario.email}"></td>				
			</tr>
		</tbody>	
	</table>
</body>
</html>