<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${tituloPrincipalPerfil}"></title>
</head>
<body>
	<h1 th:text="${tituloBodyPerfil}"></h1>
	
	<span th:text="${usuario.nombre}"></span>
	<span th:text="${usuario.apelliido}"></span>
	<br>
	<!-- uso del if -->
	<span th:if="${usuario.email}" th:text="${usuario.email}"></span>
	<span th:if="${usuario.email==null}" th:text=" 'El usuario no tiene email' "></span>
	
</body>
</html>